---
import Layout from "../layouts/Layout.astro"
---

<header class="bg-gray-300 w-full h-[100px]">
  <ul class="w-full h-full justify-center items-center">
    <div class="flex justify-center items-center w-1/4 h-full">
      <li class="w-1/4">
        <img
          src="./public/images/LogoZonda.png"
          alt="logo"
          class="w-[40px] h-[40px]"
        />
      </li>
      <li>
        <h4 class="w-3/4 font-bold text-lg">Productos</h4>
        <h3 class="w-3/4 font-bold text-lg">Zonda</h3>
      </li>
    </div>
    <div class="flex justify-center items-center w-3/4">
      <li></li>
    </div>
  </ul>
</header>
